:root {
    --player-bar-height: 105px;
}

.main-rootlist-rootlistDividerGradient {
    background: unset;
}

input {
    background-color: unset !important;
    border-bottom: solid 1px var(--spice-text) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--spice-text) !important;
}

/* .x-downloadButton-DownloadButton, */
.x-searchInput-searchInputSearchIcon,
.x-searchInput-searchInputClearButton {
    color: var(--spice-text) !important;
}

.artist-artistDiscography-button,
.artist-artistDiscography-headerButtons,
.artist-concertLocation-button,
.artist-followButton-button,
.desktopmodals-aboutSpotifyModal-closeButton,
.desktopmodals-versionStatus-copyButton,
.folder-folder-button,
.folder-folder-historyButtons,
.folder-folder-UpgradeButton,
.lyrics-config-button,
.main-addButton-active,
.main-addButton-button,
.main-buddyFeed-findFriendsButton,
.main-button-outlined,
.main-button-primary,
.main-button-secondary,
.main-button-tertiary,
.main-buttons-button,
.main-collectionLinkButton-collectionLinkButton,
.main-connectPicker-button,
.main-contextMenu-menuItemButton,
.main-coverSlotCollapsed-expandButton,
.main-coverSlotExpandedCollapseButton-collapseButton,
.main-createPlaylistButton-button,
.main-editImage-buttonContainer,
.main-entityHeader-creatorButton,
.main-entityHeader-subtitleButton,
.main-entityHeader-titleButton,
.main-likedSongsButton-likedSongsIcon,
.main-moreButton-button,
.main-noConnection-button,
.main-pageErrorTemplate-errorButton,
.main-playlistEditDetailsModal-imageChangeButton,
.main-playlistEditDetailsModal-imageDropDownButton,
.main-playlistEditDetailsModal-insertLinkButton,
.main-repeatButton-button,
.main-shuffleButton-button,
.main-skipBackButton-button,
.main-skipForwardButton-button,
.main-topBar-button,
.main-topBar-historyButtons,
.main-topBar-UpgradeButton,
.main-trackList-addToPlaylistButton,
.main-trackList-rowFeedbackButton,
.main-trackList-rowHeartButton,
.main-trackList-rowImagePlayButton,
.main-trackList-rowImagePlayPauseButton,
.main-trackList-rowImagePlayPauseButtonPlaying,
.main-trackList-rowMoreButton,
.main-trackList-rowPlayPauseButton,
.main-yourEpisodesButton-yourEpisodesIcon,
.marketplace-header-icon-button,
.profile-userOverview-UpgradeButton,
.profile-userOverview-button,
.profile-userOverview-historyButtons,
.queue-tabBar-moreButtonActive,
.show-followButton-button,
.show-show-moreButton,
.show-show-saveButton,
.show-show-visibleDownloadButton,
.show-trailer-playButton,
.x-carousel-button,
.x-contributorButton-button,
.x-contributorButton-ContributorButton,
.x-downloadButton-button,
.x-emptyState-button,
.x-filterBox-clearButton,
.x-filterBox-expandButton,
.x-filterBox-searchIcon,
.x-proxySettings-restartAppButton,
.x-settings-button,
.x-settings-equalizerResetButton,
.x-settings-facebookButton,
.x-settings-restartAppButton {
    color: var(--spice-subtext) !important;
}

.artist-artistDiscography-button:hover,
.artist-artistDiscography-headerButtons:hover,
.artist-concertLocation-button:hover,
.artist-followButton-button:hover,
.desktopmodals-aboutSpotifyModal-closeButton:hover,
.desktopmodals-versionStatus-copyButton:hover,
.folder-folder-button:hover,
.folder-folder-historyButtons:hover,
.folder-folder-UpgradeButton:hover,
.lyrics-config-button:hover,
.main-addButton-active:hover,
.main-addButton-button:hover,
.main-buddyFeed-findFriendsButton:hover,
.main-button-outlined:hover,
.main-button-primary:hover,
.main-button-secondary:hover,
.main-button-tertiary:hover,
.main-buttons-button:hover,
.main-collectionLinkButton-collectionLinkButton:hover,
.main-connectPicker-button:hover,
.main-contextMenu-menuItemButton:hover,
.main-coverSlotCollapsed-expandButton:hover,
.main-coverSlotExpandedCollapseButton-collapseButton:hover,
.main-createPlaylistButton-button:hover,
.main-editImage-buttonContainer:hover,
.main-entityHeader-creatorButton:hover,
.main-entityHeader-subtitleButton:hover,
.main-entityHeader-titleButton:hover,
.main-likedSongsButton-likedSongsIcon:hover,
.main-moreButton-button:hover,
.main-noConnection-button:hover,
.main-pageErrorTemplate-errorButton:hover,
.main-playlistEditDetailsModal-imageChangeButton:hover,
.main-playlistEditDetailsModal-imageDropDownButton:hover,
.main-playlistEditDetailsModal-insertLinkButton:hover,
.main-repeatButton-button:hover,
.main-shuffleButton-button:hover,
.main-skipBackButton-button:hover,
.main-skipForwardButton-button:hover,
.main-topBar-button:hover,
.main-topBar-historyButtons:hover,
.main-topBar-UpgradeButton:hover,
.main-trackList-addToPlaylistButton:hover,
.main-trackList-rowFeedbackButton:hover,
.main-trackList-rowHeartButton:hover,
.main-trackList-rowImagePlayButton:hover,
.main-trackList-rowImagePlayPauseButton:hover,
.main-trackList-rowImagePlayPauseButtonPlaying:hover,
.main-trackList-rowMoreButton:hover,
.main-trackList-rowPlayPauseButton:hover,
.main-yourEpisodesButton-yourEpisodesIcon:hover,
.marketplace-header-icon-button:hover,
.profile-userOverview-UpgradeButton:hover,
.profile-userOverview-button:hover,
.profile-userOverview-historyButtons:hover,
.queue-tabBar-moreButtonActive:hover,
.show-followButton-button:hover,
.show-show-moreButton:hover,
.show-show-saveButton:hover,
.show-show-visibleDownloadButton:hover,
.show-trailer-playButton:hover,
.x-carousel-button:hover,
.x-contributorButton-button:hover,
.x-contributorButton-ContributorButton:hover,
.x-downloadButton-button:hover,
.x-emptyState-button:hover,
.x-filterBox-clearButton:hover,
.x-filterBox-expandButton:hover,
.x-filterBox-searchIcon:hover,
.x-proxySettings-restartAppButton:hover,
.x-settings-button:hover,
.x-settings-equalizerResetButton:hover,
.x-settings-facebookButton:hover,
.x-settings-restartAppButton:hover {
    color: var(--spice-button) !important;
}

.main-home-homeHeader,
.x-entityHeader-overlay,
.x-actionBarBackground-background,
.main-actionBarBackground-background,
.main-entityHeader-overlay,
.main-entityHeader-backgroundColor
{
    background-color: unset !important;
    background-image: unset !important;
}

.main-playButton-PlayButton.main-playButton-primary {
    color: var(--spice-main);
}

.connect-title, .connect-header {
    display: none;
}

.connect-device-list {
    margin: 0px -5px;
}

/* Remove Topbar background colour */
.main-topBar-background {
    background-color: unset !important;
}
.main-topBar-overlay {
    background-color: var(--spice-main);
}

.main-entityHeader-shadow,
.connect-device-list-container {
    box-shadow: 0 4px 20px rgba(var(--spice-rgb-shadow), 0.2);
}

.main-trackList-playingIcon {
    filter: grayscale(1);
}

.main-trackList-trackListRow.main-trackList-active:hover .main-trackList-rowMarker,
.main-trackList-trackListRow.main-trackList-active:hover .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-active:focus-within .main-trackList-rowMarker,
.main-trackList-trackListRow.main-trackList-active:focus-within .main-trackList-rowTitle {
    color: var(--spice-button);
}

.main-entityHeader-metaDataText,
.main-duration-container {
    color: var(--spice-subtext);
}

span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
    fill: black;
}

/* Full window artist background */
.main-entityHeader-background.main-entityHeader-gradient {
    opacity: 0.3;
}

.main-entityHeader-container.main-entityHeader-withBackgroundImage,
.main-entityHeader-background,
.main-entityHeader-background.main-entityHeader-overlay:after {
    height: 100vh;
}

.main-entityHeader-withBackgroundImage .main-entityHeader-headerText {
    justify-content: center;
}

.main-entityHeader-container.main-entityHeader-nonWrapped.main-entityHeader-withBackgroundImage {
    padding-left: 9%;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
    background-image: linear-gradient(transparent,transparent),linear-gradient(var(--spice-main), var(--spice-main));
}

.artist-artistOverview-overview .main-entityHeader-withBackgroundImage h1 {
    font-size: 175px !important;
    line-height: 175px !important;
}

/** Hightlight selected playlist */
.main-rootlist-rootlistItemLink.main-rootlist-rootlistItemLinkActive {
    background: var(--spice-tab-active);
    border-radius: 4px;
    padding: 0 10px;
    margin: 0 5px 0 -10px;
}

.main-navBar-navBarLinkActive {
    background: var(--spice-tab-active);
}

div.GlueDropTarget.personal-library >*.active {
    background: var(--spice-tab-active) !important;
}

.main-contextMenu-menu {
    background-color: var(--spice-card);
}

.main-contextMenu-menuHeading,
.main-contextMenu-menuItemButton,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):focus,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):hover {
    color: var(--spice-text);
}

.main-playPauseButton-button {
    background-color: var(--spice-button);
    color: var(--spice-main);
}

/** Queue page header */
.queue-queue-title,
.queue-playHistory-title {
    color: var(--spice-text) !important;
}

/** Cards */
.main-cardImage-imageWrapper {
    background-color: transparent;
}

/** Sidebar */
.main-rootlist-rootlistDivider {
    margin-bottom: 8px;
}

.main-rootlist-rootlistPlaylistsScrollNode {
    padding: 0;
}

#spicetify-playlist-list {
    padding-top: 8px;
}
.main-collectionLinkButton-collectionLinkButton .main-collectionLinkButton-icon,
.main-collectionLinkButton-collectionLinkButton .main-collectionLinkButton-collectionLinkText {
    opacity: 1;
}

.link-subtle {
    color: var(--spice-text);
}

/** Player bar */
.main-nowPlayingBar-nowPlayingBar {
    height: var(--player-bar-height);
}

/** Buddy bar */
.main-buddyFeed-activityMetadata .main-buddyFeed-artistAndTrackName a,
.main-buddyFeed-activityMetadata .main-buddyFeed-username a,
.main-buddyFeed-activityMetadata .main-buddyFeed-playbackContextLink {
    color: var(--spice-text);
}
